.Signinpage{
  
  background-image: url();  
  background-image: url('https://images.pexels.com/photos/14242300/pexels-photo-14242300.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    height: 100vh;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 2em 20em;
    background-size: cover;
    background-position: 0%;
    
    
    
  }
  .S-Body{
    margin-left: 5%;
  }
  
  h1{
    font-size: 60px;
    color: aliceblue;
  }
  .Username{
    color: aliceblue;
    margin-top: 10px;
    margin-left: -300px;
    display: flex;
    font-size: 80px;
  }
  
  .Text1{
    width: 50%;
    height: 70%;
    /* text-align: center; */
    display: flex;
   
    margin-left: -1180px;
      
    color:rgb(243, 239, 239);
    
  
  background-color: rgb(159, 163, 163);
    border-radius: 10px;
    box-shadow: 50px 50px  100px rgb(139, 139, 139);
    
    
  }
  .First{
    color: azure;
    font-size: 40px;
    margin-left: -50%;
    margin-top: 10%;
  }
  .Password1{
    color: azure;
    font-size: 40px;
    margin-left: -60%;
    margin-top: 10%;
  }
  .Password2{
    color: azure;
    font-size: 40px;
    margin-left: -60%;
    margin-top: 10%;
  }

  
  .Input{
    display: flex;
    padding: 10px ;
    margin-left: 10%;
  }
  
  
  .Text2{
    width: 550px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(77, 72, 72);
   border: 2px solid rgb(52, 53, 54);
    
    /* box-shadow: 0px 0px 40px rgb(34, 33, 34); */
    border-radius: 8px;
    
  }
  
 
  
  ::placeholder{
    color:rgb(242, 245, 243);
    font-size: medium;
  }
  .ok{
    margin-left: -40%;
    margin-top: 15%;
    color: white;

  }
  
  .Text4{
    background-color: blue;
    color: white;
    height: 40px;
    border-radius: 10px;
    width: 42%;
    transition: all 2s;
  }
  
  .Text4:hover{
    background-color: rgb(219, 198, 198);
    color: white;
    cursor: pointer;
    transform: skew(2.5);
    font-size: 20px;

   
  }
  
  .Text5{
    font-size: 25px;
    
    /* color: aliceblue; */

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  span{
    color: rgb(222, 122, 231);
    cursor: pointer;
    border-bottom: 2px soild red;
  }
